@media only screen and (max-width: 700px) {
  .box1__content {
    width: 500px;
    margin: 0 auto;
    background-image: none;
    background-color: #ece7e4;
    background-repeat: no-repeat;
    background-size: 700px 820px;
    background-position: right;
    background-size: 700px 920px;
  }
  .box1__container-box {
    width: 500px;
    margin: 0 auto;
    padding-left: 30px;
  }
  .box1__title {
    font-size: 12px;
  }
  .box1__head {
    font-size: 36px;
  }
  .box1__text {
    max-width: 300px;
    font-size: 16px;
  }
  .box1__read {
    padding-left: 0px;
  }
  .box2_content {
    max-height: 536px;
  }
  .box2__text {
  }
  .box2__header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .box2__header-spisok {
  }
  .box2__header-li {
  }
  .box2__text-random {
    min-width: 400px;
    max-height: 536px;
  }
  .box2__spisok {
  }
  .box2_spisok {
  }
  .box2__icon-names {
  }
  .box2__stephen-icon {
  }
  .box2__stephen-icon-text {
  }
  .box2__stephen {
  }
  .rank {
  }
  .box3__content {
  }
  .box3__text {
  }
  .box3__text-reed {
  }
  .box3__reed-random {
  }
  .box3__reed-main {
  }
  .box1__img {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .box1__img {
    display: none;
  }
  .box9__content {
    margin-left: 300px;
  }
  .box9__staff-boxs3 {
    margin-left: 5px;
  }
  .box9__staff-boxs5 {
    margin-left: 5px;
  }
  .box8__no-view-adapt {
    display: none;
  }
  .box8__image-texts {
    width: 1200px;
    background-repeat: no-repeat;
  }
  .box8__img-adapt {
  }
  .footer__icon-text {
    margin-left: 180px;
  }
  .footer__content-box-right {
    justify-content: center;
  }
  .box10__content {
    margin-top: 90px;
  }
  .box10__get-touch {
    margin-left: 40px;
  }
  .box10__container-box {
    align-items: baseline;
  }
  .box6__text {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__icon-text {
    margin-left: 300px;
  }
  .footer__content-box-right {
    padding-right: 100px;
  }
  .box10__link {
    width: 356px;
    margin-right: 36px;
    height: 135px;
  }
  .box10__main-text {
    font-size: 33px;
    line-height: 37px;
  }
  .box9__img-staff {
    display: none;
  }
  .box9__content {
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    height: 225px;
  }
  .box8__img-adapt {
    display: none;
  }
  .box8__image-texts {
    margin-left: 100px;
  }
  .box8__container-box {
    max-height: 860px;
  }
  .box8__head-text {
    font-size: 33px;
  }
  .box8__main-text {
    font-size: 18px;
  }
  .box6__imgs {
    margin-left: 125px;
  }
  .box6__content {
    flex-direction: column;
    height: 720px;
  }
  .box7__content {
  }
  .box6__content-second {
    margin: 0;
  }
  .box6__content-first {
    margin-left: 100px;
  }
  .box6__main-text {
    font-size: 17px;
  }
  .box4__elements {
    width: 106px;
    flex-direction: column;
    margin-top: 250px;
  }
  .box5__content {
    margin-top: 300px;
  }
  .box3__content {
    margin-bottom: 100px;
  }
  .box4__second-content {
    margin-right: 150px;
  }
  .box4__first-content {
    margin-right: 65px;
  }
  .box4__third-content {
    margin-right: 245px;
  }
  .header__logo {
    padding-left: 25px;
  }
}
