@media only screen and (max-width: 700px) {
  .box1__content {
    width: 500px;
    margin: 0 auto;
    background-image: none;
    background-color: #ece7e4;
    background-repeat: no-repeat;
    background-size: 700px 820px;
    background-position: right;
    background-size: 700px 920px;
  }
  .box1__container-box {
    width: 500px;
    margin: 0 auto;
    padding-left: 30px;
  }
  .box1__title {
    font-size: 12px;
  }
  .box1__head {
    font-size: 36px;
  }
  .box1__text {
    max-width: 300px;
    font-size: 16px;
  }
  .box1__read {
    padding-left: 0px;
  }
  .box2_content {
    max-height: 536px;
  }
  .box2__text {
  }
  .box2__header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .box2__header-spisok {
  }
  .box2__header-li {
  }
  .box2__text-random {
    min-width: 400px;
    max-height: 536px;
  }
  .box2__spisok {
  }
  .box2_spisok {
  }
  .box2__icon-names {
  }
  .box2__stephen-icon {
  }
  .box2__stephen-icon-text {
  }
  .box2__stephen {
  }
  .rank {
  }
  .box3__content {
  }
  .box3__text {
  }
  .box3__text-reed {
  }
  .box3__reed-random {
  }
  .box3__reed-main {
  }
  .box1__img {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .box1__img {
    display: none;
  }
  .box9__content {
    margin-left: 300px;
  }
  .box9__staff-boxs3 {
    margin-left: 5px;
  }
  .box9__staff-boxs5 {
    margin-left: 5px;
  }
  .box8__no-view-adapt {
    display: none;
  }
  .box8__image-texts {
    width: 1200px;
    background-repeat: no-repeat;
  }
  .box8__img-adapt {
  }
  .footer__icon-text {
    margin-left: 160px;
  }
  .footer__content-box-right {
    justify-content: center;
  }
  .box10__content {
    margin-top: 90px;
  }
  .box10__get-touch {
    margin-left: 40px;
  }
  .box10__container-box {
    align-items: baseline;
  }
  .box6__text {
    margin-left: 30px;
  }
}
