body {
}
.header {
  display: flex;
  column-gap: 400px;
  margin: 0 auto;
  border: 5px solid darkblue;
  width: 1440px;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.div1 {
  width: 220px;
  height: 19px;
  margin: 32px 70px;
  border: 1px solid darkblue;
}
.header a {
  display: inline-block;
  padding: 24px;
}
a {
  width: 40px;
  height: 24px;
  text-decoration: none;
  color: #1b1a1a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
a:hover {
  text-decoration: underline;
}
.black_button {
  background-color: black;
  border-radius: 14px;
  color: white;
  width: 90px;
  max-height: 0.01em;
  vertical-align: -6px;
  line-height: 0px;
  text-align: center;
}
.div3 {
}
