.box4__content-box {
  display: flex;
  width: 100%;
  height: 581px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box4__elements {
  display: flex;
  width: 1200px;
  height: 381px;
  justify-content: center;
  margin-left: 94px;
}
.box4__header-box {
  display: flex;
  width: 468px;
  height: 60px;
  align-items: center;
  flex-direction: column;
}
.box4__header-fix-first {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645c55;
}
.box4__header-fix-second {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  text-align: center;
  color: #1b1a1a;
}
.box4__first-element {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 294px;
  padding-right: 202px;
}
.box4__first-content {
  text-align: center;
  margin-top: 39px;
}
.box4__first-spisok {
}
.box4__first-main {
  width: 294px;
  height: 96px;
  flex-wrap: wrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #645c55;
}
.box4__second-element {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 292px;
  padding-right: 106px;
}
.box4__second-content {
  text-align: center;
  margin-top: 16px;
}
.box4__second-spisok {
}
.box4__second-main {
  width: 292px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #645c55;
}
.box4__third-element {
  align-items: center;
  justify-content: center;
  display: flex;

  width: 285px;
}
.box4__third-content {
  text-align: center;
  margin-top: 35px;
}
.box4__third-spisok {
}
.box4__third-spisok p {
  margin-top: 10px;
}
.box4__second-spisok p {
  margin-top: 10px;
}
.box4__first-spisok p {
  margin-top: 10px;
}
.box4__third-main {
  width: 285px;
  height: 96px;
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #645c55;
}
.box4__third-content img {
  margin-bottom: 5px;
}
.box4__second-content img {
  margin-bottom: 5px;
}
.box4__first-content img {
  margin-bottom: 5px;
}
