.box6__content {
  width: 100%;
  height: 410px;
  margin: 0 auto;
  background: #403e3b;
  display: flex;
  justify-content: space-between;
}
.box6__content-first {
  display: flex;
  width: 720px;
  height: 410px;
  align-items: center;
  margin-top: 56px;
}
.box6__content-second {
  display: inline-block;
  width: 720px;
  height: 410px;
  margin-top: 65px;
  margin-bottom: 50px;
}
.box6__imgs {
  width: 430px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box6__hill {
  max-width: 128px;
  max-height: 30px;
  margin: 30px;
  margin-top: 60px;
  margin-bottom: 105px;
}
.box6__studio {
  max-width: 128px;
  max-height: 22px;
  margin: 30px;
  margin-bottom: 100px;
}
.riskgransen {
  max-width: 128px;
  max-height: 76px;
  margin: 30px;
  margin-bottom: 0px;
}
.chill {
  max-width: 128px;
  max-height: 36px;
  margin: 30px;
}
.box6__text {
  max-width: 584px;
  max-height: 290px;
  margin-left: 136px;
}
.box6__spisok {
  margin-bottom: 100px;
}
.box6__spisok-text {
}
.box6__header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ece7e4;
}
.box6__podheader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height, or 119% */

  color: #ffffff;
}
.box6__main-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #ece7e4;
  margin-top: 14px;
  width: 451px;
  height: 72px;
}
