.box7__content {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: url(/images/main-four.jpg);
  justify-content: flex-start;
  align-items: center;
}
.box7__text {
  max-width: 360px;
  padding-left: 75px;
}
.box7__text-stair {
}
.box7__stair-random {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #403e3b;
}
.box7__stair-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645c55;
}
