.box8__container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 918px;
  max-height: 918px;
  background: #f7f7f7;
}
.box8__content {
  width: 83.33%;
  height: 698px;
}
.box8__text-header {
  margin-left: 16px;
}
.box8__header-main {
}
.box8__spisok {
}
.box8__text-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #645c55;
  max-width: 581px;
  margin-top: 15px;
}
.box8__head-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #1b1a1a;
}
.box8__images-projects {
  display: flex;
  gap: 20px;
  margin-top: 44px;
  justify-content: center;
}
.box8__image-texts {
  min-height: 456px;
  background-image: url(/images/projects-2.jpg);
  min-width: 375px;
}
.box8__img-text {
  margin-left: 40px;
  margin-top: 40px;
}
.box8__header-img-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645c55;
}
.box8__img-main-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #403e3b;
}
.box8__img-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 282px;
  margin-left: 45px;
  background-color: #1b1a1a;
  border-radius: 14px;
  width: 133px;
  height: 46px;
  transition: background-color 0.7s ease;
}
.box8__img-rectangle a {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding: 19px;
  color: #ffffff;
  text-decoration: none;
  min-width: 93px;
  transition: background-color 0.7s ease;
}
.box8__img-rectangle:hover {
  background-color: #ffffff;
}
.box8__img-rectangle a:hover {
  color: black;
}
.box8__link-footer {
  display: flex;
  margin-top: 53px;
  justify-content: center;
}
.box8__link-footer a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #1b1a1a;
  text-decoration: none;
}
